
.studioHeroContainer {
  --studio-background: #000000;
  --studio-foreground: #ffffff;
}

.studioHeroContainer {  
  position: relative;
  width: 100%;
  background-color: var(--studio-background);
  color: var(--studio-foreground);
  overflow: hidden;
  padding-bottom: 0;
}

.studioHero {
  position: relative;
  width: 100vw;
  padding: 1.5rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow-x: hidden;
}

.studioHero h1 {
  font-size: 50vw;
  position: relative;
  margin: 0;
  line-height: 0.85;
}

.studioHeroImg {
  aspect-ratio: 6/3;
  position: relative;
  width: calc(100vw - 3rem);
  margin: 0 auto -25% auto;
}

.studioHeroImgWrapper {
  position: relative;
  transform: translateY(-50%);
}

.studioHeroImgWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.char {
  display: inline-block;
  letter-spacing: 0;
}

.charMask {
  overflow: hidden;
  display: inline-block;
}

.caps {
  text-transform: uppercase;
}

@media (max-width: 1000px) {
  .studioHero {
    padding: 7.5rem 1.5rem 1.5rem 1.5rem;
  }
}

@media (max-width: 600px) {
 .studioHeroImg {
  aspect-ratio: 5/3;

}

.studioHeroImgWrapper img {
  width: 100%;

}
}

