.hero-v2 {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #111117;
  text-align: center;
  overflow: hidden;
  color: #fff;
  font-family: "DM Sans", sans-serif;
}

.hero-v2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.hero-v2 h1 {
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: -0.2rem;
  line-height: 0.8;
}

.hero-v2 p {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 0.8;
}

.hero-v2 .hero-img-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero-v2 .hero-img-logo img {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 250px;
  height: auto;
  object-fit: contain;
}

.hero-v2 .hero-img-copy {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, 0%);
  will-change: opacity;
  z-index: 2; /* Ensure visibility over layers if needed */
}

.hero-v2 .hero-img-copy p {
  font-size: 0.65rem;
}

.hero-v2 .fade-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  will-change: opacity;
  opacity: 0; /* Default hidden, managed by GSAP */
}

.hero-v2 .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10; /* adjusted z-index to sit above hero content but below menu if needed */
  transform-origin: center center;
  pointer-events: none; /* Allow clicks to pass through if transparent */
}

.hero-v2 .logo-container {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
  width: 400px;
  height: 400px;
  z-index: 20;
  pointer-events: none;
}

.hero-v2 .overlay-copy {
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 20;
  width: 100%;
}

.hero-v2 .overlay-copy h1 {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  transform-origin: center 0%;
}

.hero-v2-outro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  background-color: #111117;
  color: white;
}

@media (max-width: 900px) {
  .hero-v2 h1 {
    font-size: 2rem;
    letter-spacing: 0;
  }

  .hero-v2 p {
    font-size: 1rem;
  }

  .hero-v2 .overlay-copy {
    width: 100%;
  }
}
